<div id="me" class="container d-flex">
  <div class="image w-50">
    <img src="./assets/me.png" alt="" class="w-100" />
  </div>
  <div
    class="info p-2 d-flex flex-column justify-content-around align-content-center w-50 ps-4"
  >
    <h2 class="text-center">THIS IS ME</h2>
    <p class="ps-4">
      A 31 year old man who loves to live life to the fullest. When he's not
      busy with work, you can find him indulging in his favorite hobbies. He is
      an avid programmer and enjoys spending his free time coding. But Andres
      also knows how to have fun and unwind, whether it's playing FIFA or
      cooking up a storm in the kitchen. He is also a social butterfly and loves
      to spend time with his friends, drinking beers and having a good time.
      Family is everything to Andres and he cherishes the moments he gets to
      share with them. He is also an adventurous spirit who loves to explore new
      places and travel the world.
    </p>
    <p>
      Andres isn't one to shy away from a challenge and is always up for an
      adrenaline rush. One of his most exciting experiences was when he took the
      leap and jumped out of an airplane with a parachute in Australia. This
      fearless act showcases Andres' bravery and determination, and adds to his
      already impressive list of achievements.

    </p>

  </div>
</div>
