<div id="parents" class="container d-flex justify-content-around align-items-baseline">
  <div class="p-2 w-50">
    <h2 class="text-center">MY PARENTS</h2>
    <p>
      My Mom is an avid gardener and cook, while my Dad loves adventuring and
      trying new things. They're the life of any party with their outgoing
      personalities and laughter, and are always ready to make others feel at
      home. Despite their busy schedules, they make time for each other and
      those they love, bringing joy and affection wherever they go.
    </p>
  </div>
  <div class="w-50 p-3 m-auto">
    <figure>
      <img src="./assets/parents.jpg" class="w-100" alt="" />
    </figure>
  </div>
</div>