<div id="sister" class="container d-flex align-items-center">
  <div class="p-2 w-50">
    <h2 class="text-center">CAMILA</h2>
    <figure><img src="./assets/sister1.png" /></figure>
    <p>
      Camila is 28 years old and she is the youngest member in my family. She is
      an ocuppational health and safety consultant. She is also from Colombia
      and she enjoys reading, eating ice cream, and watching movies. She holds a
      degree in her field and is known for her passion for learning and
      self-improvement.
    </p>

  </div>
  <div class="w-50 p-3">
    <h2 class="text-center">MARCELA</h2>
    <figure><img src="./assets/sister2.png" /></figure>
    <div>
      <p>
        Marcela is my eldest sister, she is a 40 year old a Tax Director at
        RENAULT Colombia, specializing in accounting and taxes. In her free
        time, she enjoys cooking and reading novels. With extensive experience
        and a balanced approach to life, she brings a valuable combination of
        professional expertise and personal passion to everything she does.
      </p>
    </div>
  </div>
</div>