<div id="wife" class="container d-flex">
  <div class="p-2 w-50">
    <h2 class="text-center">SHE IS LAURA</h2>
    <p>
      I just wanted to take a moment to talk about my amazing wife, Laura. Laura
      is 31 years old, just like me, and she is truly the most wonderful woman
      in the world. Her birthday is on May 23rd, just 6 days before mine, and
      every year I make sure to celebrate her in a big way because she deserves
      it.
    </p>
    <p>
      Laura loves sushi and is always up for trying new foods from around the
      world. She has a real adventurous spirit, and that's one of the things I
      love about her. We've been happily married for 3 years now and our love
      for each other just keeps growing stronger every day. Laura is from
      Colombia and she is a talented professional in the field of social media
      marketing. She speaks Spanish, French, English fluently and she's also
      learning Italian, which just shows her passion for language and her desire
      to constantly learn and grow. I feel so lucky to have her in my life.
    </p>
  </div>
  <div class="w-50 p-3 m-auto">
    <section>
      <img src="./assets/wife.jpg" alt=""/>
      <img src="./assets/wife2.png" alt="" />
      <img src="./assets/wife3.png" alt="" />
      <img src="./assets/wife4.png" alt="" />
      <img src="./assets/wife5.png" alt="" />
      <img src="./assets/wife6.png" alt="" />

    </section>
  </div>
</div>